<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-autowire="byName"> <!-- bean均设置为自动装配 ，子标签可以覆盖全局设置-->
    <context:component-scan base-package="Spring.Annotation" ></context:component-scan>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
        <property name="username" value="scott"></property>
        <property name="password" value="tiger"></property>
        <property name="maxActive" value="10"></property>
        <property name="maxIdle" value="6"></property>
    </bean>
    <bean id="tsManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:annotation-driven transaction-manager="tsManager"></tx:annotation-driven>

    <bean id="chinese" class="Spring.test01.Chinese">
    <property name="axe" ref="axe"></property>
    </bean>
    <bean id="axe" class="Spring.test01.StoneAxe">

    </bean>
    <bean name="teacher" class="Spring.entity.Teacher" p:course="math" p:courseTime="10">
<!--        创建时赋值-->

<!--        <constructor-arg value="math"></constructor-arg>-->
<!--        <constructor-arg value="10"></constructor-arg>-->
    </bean>
    <bean id="collection" class="Spring.test03.Collection">
<!--        注入特殊数据类型-->

        <property name="arrayE">
           <array>
               <value>aa</value>
               <value>bb</value>
               <value>cc</value>
           </array>
        </property>
        <property name="listE">
            <list>
                <value>a1</value>
                <value>b2</value>
                <null/>
            </list>
        </property>
        <property name="mapE">
            <map>
                <entry>
                    <key>
                        <value>key</value>
                    </key>
                    <value>map_value</value>
                </entry>
            </map>
        </property>
        <property name="setE">
            <set>
                <value>bbb</value>
                <value>bbb</value>
            </set>
        </property>
    </bean>
    <bean id="chinese2" class="Spring.test01.Chinese" autowire="constructor">
<!--        自动装配 IOC容器中恰好有一个beanid为ref所需要的对象，
    ref
byName
bean的id值=类的属性名，根据类的属性名去IOC容器中寻找对应id值
byType
寻找其他bean，看是否类型与所需要的匹配，若IOC中有多个满足条件的bean，会报错
constructor
其他bean类型是否与构造类的构造器参数类型一直，本质上与type相同


-->
    </bean>


    <bean id="studentDao" class="Spring.Dao.StudentDaoImpl"></bean>
    <bean id="studentService" class="Spring.Service.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"></property>
    </bean>

<!--    配置前置通知类-->

    <bean id="before" class="Spring.Aop.LogBefore"></bean>
<!--    将方法与通知进行关联，用例：StudentAdd（）-->
    <aop:config>
<!--        配置切入点，在哪里通知-->
        <aop:pointcut id="pointcut" expression="execution(Spring.Service.StudentServiceImpl.addStudent(Student student))"/>
<!--        advisor相当于连接切入点和切面的线-->
        <aop:advisor advice-ref="before"></aop:advisor>

    </aop:config>

</beans>